<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.tagline }}{{ else }}{{ with .Description }}{{ . | plainify }}{{ end }}{{ end }}"/>
<meta name="keywords" content="{{ $.Site.Params.keywords }}"/>
{{ if .Site.Params.googleVerificationCode }}
<meta name="google-site-verification" content="{{ $.Site.Params.googleVerificationCode }}"/>
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}">

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/favicon.png" | absURL }}">
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">
<link rel="icon" href="{{ "img/favicon.png" | absURL }}" />

<!-- Twitter Card -->
<meta name="twitter:card" content="{{ if .IsHome }}summary{{ else }}summary_large_image{{ end }}" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ $.Site.Title }} — {{ $.Site.Params.Subtitle }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{ end }}" />
<meta name="twitter:description" content="{{ if .IsHome }}{{ $.Site.Params.tagline }}{{ else }}{{ with .Description }}{{ . | plainify }}{{ end }}{{ end }}" />
<meta name="twitter:site" content="{{ $.Site.BaseURL }}" />
<meta name="twitter:creator" content="{{ .Params.Author }}" />
{{ if .IsHome }}
<meta name="twitter:image" content="{{ if (fileExists (printf "/static/%s/cover.jpg" "img" )) }}{{ (printf "/%s/cover.jpg" "img" | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.png" "img" )) }}{{ (printf "/%s/cover.png" "img" | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.gif" "img" )) }}{{ (printf "/%s/cover.gif" "img" | absURL ) }}{{ end }}{{ end }}{{ end }}">
{{ else }}
<meta name="twitter:image" content="{{ if (fileExists (printf "/static/%s/cover.jpg" .File.TranslationBaseName )) }}{{ (printf "/%s/cover.jpg" .File.TranslationBaseName | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.png" .File.TranslationBaseName )) }}{{ (printf "/%s/cover.png" .File.TranslationBaseName | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.gif" .File.TranslationBaseName )) }}{{ (printf "/%s/cover.gif" .File.TranslationBaseName | absURL ) }}{{ end }}{{ end }}{{ end }}">
{{ end }}

<!-- OG data -->
<meta name="locale" property="og:locale" content="{{ $.Site.Language.Lang }}" />
<meta name="type" property="og:type" content="{{ if .IsHome }}website{{ else }}{{ if .IsPage }}article{{ else }}website{{ end }}{{ end }}" />
<meta name="title" property="og:title" content="{{ if .IsHome }}{{ $.Site.Title }} — {{ $.Site.Params.Subtitle }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{ end }}">
<meta name="author" property="og:author" content="{{ with $.Site.Params.copyright }}{{ $.Site.Params.copyright }}{{ end }}" />
<meta name="description" property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ with .Description }}{{ . | plainify }}{{ end }}{{ end }}" />
<meta name="url" property="og:url" content="{{ .Permalink }}" />
<meta name="site_name" property="og:site_name" content="{{ .Title }}" />

<meta name="image" property="og:image" content="{{ if .IsHome }}{{ if (fileExists (printf "/static/%s/cover.jpg" "img" )) }}{{ (printf "/%s/cover.jpg" "img" | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.png" "img" )) }}{{ (printf "/%s/cover.png" "img" | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.gif" "img" )) }}{{ (printf "/%s/cover.gif" "img" | absURL ) }}{{ end }}{{ end }}{{ end }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.jpg" .File.TranslationBaseName )) }}{{ (printf "/%s/cover.jpg" .File.TranslationBaseName | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.png" .File.TranslationBaseName )) }}{{ (printf "/%s/cover.png" .File.TranslationBaseName | absURL ) }}{{ else }}{{ if (fileExists (printf "/static/%s/cover.gif" .File.TranslationBaseName )) }}{{ (printf "/%s/cover.gif" .File.TranslationBaseName | absURL ) }}{{ end }}{{ end }}{{ end }}{{ end }}">
<meta property="og:image:width" content="2048">
<meta property="og:image:height" content="1024">
{{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
{{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

<!-- Discord Color -->
<meta name="theme-color" content="#5d95ff">

<!-- RSS -->
{{ if .OutputFormats.Get "RSS" }}
<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ "feed.json" | absURL }}{{ end }}" rel="alternate" type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- head custom -->
{{- partial "extended_head.html" . }}