.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 10px auto;

  @media (--tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--theme-border-color);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

    @media (--phone) {
      font-size: .85rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 10px;

    @media (--phone) {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
      padding: 3px 5px;
      border-radius: 10px;
      background-color: var(--theme-color);
      color: var(--theme-background);
    }
  }

  &-content {
    margin-top: 20px;
  }

  &-cover {
    border-radius: 8px;
    margin: 20px -50px;
    width: 860px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .15);

    /* center and crop the image*/
    max-height: 250px;
    object-fit: cover;
    object-position: center;

    @media (--tablet) {
      margin: 10px 0;
      width: 100%;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.homepage {
  margin-top:0px;
  padding-top: 0px;
  padding-bottom: 50px;
}