:root {
  --theme-background: #fff;
  --theme-background-header: #fafafa;
  --theme-background-secondary: #eaeaea;
  --theme-color: #222;
  --theme-code: #ccc;
  --theme-color-secondary: #999;
  --theme-border-color: #dcdcdc;

  @media (prefers-color-scheme: dark) {
    --theme-background: #292a2d;
    --theme-background-header: #252627;
    --theme-background-secondary: #3b3d42;
    --theme-color: #a9a9b3;
    --theme-code: #222;
    --theme-color-secondary: #73747b;
    --theme-border-color: #4a4b50;
  }

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);

@define-mixin greater-icon $stroke-width: 3px, $width: .95rem, $height: 100% {
  .greater-icon {
    width: $width;
    height: $height;

    polyline {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}

/* HOW TO USE */

/*@media (--phone) {*/
  /*margin-top: 0;*/
/*}*/
